<configuration>
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/ace.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>logs/ace-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 10MB -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%X{akkaTimestamp} %-5level %logger{36} %X{akkaSource} %X{machineId} %X{nodeId} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%X{akkaTimestamp} %-5level %logger{36} %X{akkaSource} %X{machineId} %X{nodeId} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="akka.cluster" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="ROLLING" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
